html, body, #wrap {
    height: 100%;
    width: 100%;
}

#wrap {
    background-color: black;
    position: relative;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

header {
    top: 0;
    position: absolute;
    width: 100%;
    padding: 3%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3%;
}

main {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 3%;
    }

    main .container-fluid {

    }

    /*Classes*/

.underline {
    text-decoration: underline;
}

.smalltext {
    font-size: 75%;
}

.middletextsmall {
    font-size: 65%;
}

.namesize {
    font-size: 80%;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.linethru {
    text-decoration: line-through;
}

.yellow{
    color: #ffffa6;
}

/*                 <div class="col-lg-2 col-md-4 col-sm-4 right">
                    <a href="page3.html"><p class="smalltext"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Tillbaka</p></a>
                </div> */