@import "https://fonts.googleapis.com/css?family=Titillium+Web";
.background {
    background-color: black;
    background-image: url("http://www.picgifs.com/graphics/c/cute/graphics-cute-160852.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.headline {
    color:darkslategrey;
}
.headlinee {
    border-bottom: dotted;
    color: darkslategray;
}
.underline {
    border-bottom: dashed;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.underheadlinered {
    color:red;
}
.underheadlineblue {
    color:blue;
}
.underheadlineyellow {
    color: yellow;
}
.pred {
    color: red;
    font-size: 20px;
}
.pblue {
    color:blue;
}
.pwhite {
    color: white;
}
.pyellow {
    color:yellow;
}