body {
	background-color: #eee;
}

table {
	background-image: url('bg.jpg');
	border: 1px solid black;
	border-radius: 20px;
	height: 700px;
	margin: 0 auto;
	text-align: center;
	width: 700px;
}
caption {
	font-family: courier;
	caption-side: top;
	text-align: right;
}

th {
	border: solid 1px white;
	border-radius: 20px;
	color: white;
	font-family: courier;
	font-size: 30px;
	opacity: .7;
}


td {
	border-bottom: 1px dotted white;
	font-style: italic;
	font-family: verdana;
}

tr:hover {
	background-color: green;
	color: white;
    opacity: .3;
}
