body {
    background-color: salmon;
    font-family: "Century Gothic";
}
h1 {
    background-color: beige;
    text-align: center;
    color: tan;
    margin: 0 auto;
    border-color: aqua;
    border: dotted;
    margin-left: 400px;
    margin-right: 400px;
}
h1 + p {
    font-size: 30px;
    text-align: center;
}
time {
    text-align: center;
    display: block;

}
p {
    text-align: center;
}
h2 {
    color: indianred;
    text-align: center;
}
blockquote {
    background-color: orangered;
    display: inline-block;
    border: dashed;
    border-color: burlywood;
    margin: 0 auto;
    margin-left: 450px;
    margin-right: 450px;
}
a {
    margin-left: 20px;
    margin-top: 50px;
}
span {
    color: darkred;
}

h2 + p {
    color: yellow;
}
blockquote + p{
    color: blue;
}
