body {
    font-family: "Arial";
}
blockquote {
    background-color: aquamarine;
    border-style: solid;
    margin: 0 auto;
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px;
}
body{
    background-color: lightgrey;
}
h1 {
    text-align: center;
    border-bottom: solid;
}
.purple {
    background-color: purple;
    color: white;
    text-align: center;
}